li {
    float: left;
}
li a {
    display: block;
    color: rgb(236, 236, 236);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #000000;
  }
  body {
    background-color: #fafafa; /* Change this to your desired color */
}
.project-card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.skill-block {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem; /* Increase font size */
}
.skill-block:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}